.corner-ribbon {
  width: 300px;
  background: #e44333;
  position: absolute;
  top: 35px;
  left: -75px;
  text-align: center;
  line-height: 80px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  .sticky {
    position: fixed;
  }

  .shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  a,
  a:visited,
  a:hover {
    color: #f0f0f0 !important;
    font-size: medium;
  }
}
