.corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    .red {
      background: #e43;
    }

    .sticky {
        position: fixed;
    }
      
    .shadow {
      box-shadow: 0 0 3px rgba(0,0,0,.3);
    }
      
    .top-left {
      top: 25px;
      left: -50px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    } 
}
