.c-checklist__column.c-checklist__dropdown

  //- Check if the item has content, if not hide the button
  if item.tools || item.documentation || item.code || item.video
    button.button-icon.js-dropdown.c-checklist__dropdown__button(aria-label=translation.SHOW_DETAILS)
      +svg-icon.icon.icon-arrow(data-icon-name='arrow')
