
  if item.priority == "High"
    .c-checklist__column.c-checklist__priority(data-icon-name='bullet' data-tippy-content="High priority")
      +svg-icon.icon.icon--small.icon-priority--high(aria-label="High priority" )

  else if item.priority == "Medium"
    .c-checklist__column.c-checklist__priority(data-icon-name='bullet' data-tippy-content="Medium priority")
      +svg-icon.icon.icon--small.icon-priority--medium(aria-label="Medium priority")

  else
    .c-checklist__column.c-checklist__priority(data-icon-name='bullet' data-tippy-content="Low priority")
      +svg-icon.icon.icon--small.icon-priority--low(aria-label="Low priority")
