.c-checklist__column.c-checklist__priority

  if item.priority == "High"
    +svg-icon.icon.icon--small.icon-priority--high(aria-label="High priority" data-icon-name='bullet' data-tippy-content=translation."High priority")

  else if item.priority == "Medium"
    +svg-icon.icon.icon--small.icon-priority--medium(aria-label="Medium priority" data-icon-name='bullet' data-tippy-content=translation."Medium priority")

  else
    +svg-icon.icon.icon--small.icon-priority--low(aria-label="Low priority", data-icon-name='bullet' data-tippy-content=translation."Low priority")
