header.s-header

  include ../components/c-corner

  .corner-ribbon.top-left.sticky.shadow
    a(href='https://www.the-aks-checklist.com/docs/AKS-Checklist.pdf')  Download PDF version

  .s-header__banner
    .text-center
      picture
        source(srcset="/img/logos/logo-aks-checklist.png" type="image/jpeg")
        img.img-logo(src="/img/logos/logo-aks-checklist.png" alt="AKS Checklist Logo" width="100" height="100")
      h1.font-weight-bold= translation.SITE_NAME
      
      p.sub-heading
        p= translation.WARNING_MESSAGE
        //-img(src="/img/icons/warning.png" width="40" height="40")
      p.sub-heading2= translation.SITE_VERSION + "#{BUILD_DATE}#"
      
  //- .s-header__lang
  //-   ul.s-header__lang__list
  //-     li.s-header__lang__item
  //-       a(href="/")
  //-         img(src="/img/flags/en.svg" width="20" height="15" alt="English language")
  //-     li.s-header__lang__item
  //-       a(href="/fr.html")
  //-         img(src="/img/flags/fr.svg" width="20" height="15" alt="Français")
  //-     li.s-header__lang__item
  //-       a(href="/es.html")
  //-         img(src="/img/flags/es.svg" width="20" height="15" alt="Español")
