header.s-header

  include ../components/c-corner

  .corner-ribbon.top-left.sticky.shadow
    a(href='https://www.the-aks-checklist.com/docs/AKS-Checklist.pdf')  Download PDF version

  .s-header__banner
    .text-center
      picture
        source(srcset="/img/logos/logo-aks-checklist.png" type="image/jpeg")
        img.img-logo(src="/img/logos/logo-aks-checklist.png" alt="AKS Checklist Logo" width="100" height="100")
      h1.font-weight-bold= translation.SITE_NAME
      
      p.sub-heading
        = translation.WARNING_MESSAGE
        a(href='https://github.com/boxboat/aks-health-check', target="_blank", class='blank-link') You can also use the automated tool by BoxBoat
      
      p.sub-heading2= translation.SITE_VERSION + "#{BUILD_DATE}#"
      
