extends base/layout

//- Block main
block main

  include components/s-section-top

  //- List each section (the order is linked to the order of the c-nav)
  //- _items is in the JSON injected in the view with gulp-data (called _project.json)
  .s-main__section.s-main__checklist

    if _items !== undefined

      +checklist-section({
        dataSection: _items.development,
        sectionTitle: "Development"
      })

      +checklist-section({
        dataSection: _items.container,
        sectionTitle: "Image management"
      })
      +checklist-section({
        dataSection: _items.cluster_setup,
        sectionTitle: "Cluster setup"
      })

      +checklist-section({
        dataSection: _items.disaster_recovery,
        sectionTitle: "Disaster Recovery"
      })

      +checklist-section({
        dataSection: _items.storage,
        sectionTitle: "Storage"
      })

      +checklist-section({
        dataSection: _items.network,
        sectionTitle: "Network"
      })

      +checklist-section({
        dataSection: _items.resource_management,
        sectionTitle: "Resource Management"
      })

      +checklist-section({
        dataSection: _items.windows,
        sectionTitle: "Windows"
      })

      +checklist-section({
        dataSection: _items.operations,
        sectionTitle: "Cluster Maintenance"
      })


  include components/s-section-bottom
