extends base/layout

//- Block main
block main

  include components/s-section-top

  //- List each section (the order is linked to the order of the c-nav)
  //- _items is in the JSON injected in the view with gulp-data (called _project.json)
  .s-main__section.s-main__checklist

    if _items !== undefined

      +checklist-section({
        dataSection: _items.identity,
        sectionTitle: "Identity / Authorization"
      })

      +checklist-section({
        dataSection: _items.cluster_security,
        sectionTitle: "Cluster security"
      })

      +checklist-section({
        dataSection: _items.cluster_multi,
        sectionTitle: "Multi-Tenant / Isolation"
      })

      +checklist-section({
        dataSection: _items.storage,
        sectionTitle: "Storage"
      })

      +checklist-section({
        dataSection: _items.networking,
        sectionTitle: "Networking"
      })

      +checklist-section({
        dataSection: _items.resource_management,
        sectionTitle: "Resource Management"
      })

      +checklist-section({
        dataSection: _items.operations,
        sectionTitle: "Cluster Operations"
      })

      +checklist-section({
        dataSection: _items.bc_dr,
        sectionTitle: "Biz continuity & disaster recovery"
      })

      +checklist-section({
        dataSection: _items.windows,
        sectionTitle: "Windows"
      })

      +checklist-section({
        dataSection: _items.application,
        sectionTitle: "Application deployment"
      })

      +checklist-section({
        dataSection: _items.container,
        sectionTitle: "Image management"
      })


  include components/s-section-bottom
