extends base/layout

//- Block main
block main

  include components/s-section-top

  //- List each section (the order is linked to the order of the c-nav)
  //- _items is in the JSON injected in the view with gulp-data (called _project.json)
  .s-main__section.s-main__checklist

    if _items !== undefined

      +checklist-section({
        dataSection: _items.development,
        sectionTitle: "Desarrollo"
      })

      +checklist-section({
        dataSection: _items.container,
        sectionTitle: "Administración de imagenes"
      })

      +checklist-section({
        dataSection: _items.clustersetup,
        sectionTitle: "Preparación Cluster"
      })

      +checklist-section({
        dataSection: _items.disasterrecovery,
        sectionTitle: "Recuperación de desastres"
      })

      +checklist-section({
        dataSection: _items.storage,
        sectionTitle: "Almacenamiento"
      })

      +checklist-section({
        dataSection: _items.network,
        sectionTitle: "Redes"
      })

      +checklist-section({
        dataSection: _items.resourcemanagement,
        sectionTitle: "Administración de Recursos"
      })

      +checklist-section({
        dataSection: _items.multitenancy,
        sectionTitle: "Multi Tenancy"
      })

      +checklist-section({
        dataSection: _items.operations,
        sectionTitle: "Mantenimiento de clúster"
      })

      

  include components/s-section-bottom
