extends base/layout

//- Block main
block main

  include components/s-section-top

  //- List each section (the order is linked to the order of the c-nav)
  //- _items is in the JSON injected in the view with gulp-data (called _project.json)
  .s-main__section.s-main__checklist

    if _items !== undefined

      +checklist-section({
        dataSection: _items.clustersetup,
        sectionTitle: "Mise en place du cluster"
      })

      +checklist-section({
        dataSection: _items.disasterrecovery,
        sectionTitle: "Disaster Recovery"
      })

      +checklist-section({
        dataSection: _items.storage,
        sectionTitle: "Stockage"
      })

      +checklist-section({
        dataSection: _items.network,
        sectionTitle: "Réseau"
      })

      +checklist-section({
        dataSection: _items.operations,
        sectionTitle: " Maintenance"
      })

      +checklist-section({
        dataSection: _items.multitenancy,
        sectionTitle: "Multi tenant"
      })

      +checklist-section({
        dataSection: _items.resourcemanagement,
        sectionTitle: "Gestion des ressources"
      })

      +checklist-section({
        dataSection: _items.container,
        sectionTitle: "Gestion des images"
      })

      +checklist-section({
        dataSection: _items.development,
        sectionTitle: "Développement"
      })

      +checklist-section({
        dataSection: _items.windows,
        sectionTitle: "Windows"
      })



  include components/s-section-bottom
