.s-form
  .form

      .form-group
        input(type="text", id="project-name" name="project-name", title=translation.form.TITLE_PROJECT_NAME required)
        label(for="project-name")= translation.form.LABEL_PROJECT_NAME

      span#generated-date
      
.s-meta

  button.button.btn--danger.js-reset-all
    +svg-icon.icon.icon-reset(data-icon-name='reset')
    | #[=translation.form.BUTTON_START_NEW]
