.c-tools

  .c-button__group
    button.c-button-icon.js-check-all(title="Check all items")
      +svg-icon.icon.icon-check(data-icon-name='check')

    button.c-button-icon.js-uncheck-all(title="Uncheck all items")
      +svg-icon.icon.icon-uncheck(data-icon-name='check')

  .c-button__group
    button.c-button-icon.js-expand-all(title=translation.SHOW_DETAILS,data-tippy-content="Use buttons to show/hide details",data-tippy-arrow="true")
      +svg-icon.icon2.icon-check(data-icon-name='expand') 

    button.c-button-icon.js-collapse-all(title=translation.HIDE_DETAILS)
      +svg-icon.icon2.icon-uncheck(data-icon-name='collapse')
