name: Validation Build 

on:
  pull_request:
    branches:
      - staging
      - master
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v3

    - name: Check that data is OK
      run: . ./.github/scripts/check-unique-guid.sh
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        
    - run: npm install

    - run: gulp build

    - name: Get current time
      uses: josStorer/get-current-time@v2.0.2
      id: current-time
      with:
        format: DD-MM-YYYY

    - name: inject date
      uses: cschleiden/replace-tokens@v1
      with:
        files: '["**/*.html"]'
      env:
        BUILD_DATE: "${{ steps.current-time.outputs.formattedTime }}"
 
    - uses: actions/upload-artifact@v1
      with:
        name: CheckList
        path: dist
