$body-background-color: #ededed !default;
$body-size: 62.5% !default;
$body-rendering: optimizeLegibility !default;
$body-family: $family-sans-serif !default;
$body-color: $text !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

// $hr-background-color: $border !default;
$hr-height: 1px !default;
$hr-margin: 1.5rem 0 !default;
$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

// Set box-sizing globally to handle padding and border widths
*,
*::after,
*::before {
  box-sizing: inherit;
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html {
  background-color: $body-background-color;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: $body-size;
  text-rendering: $body-rendering;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

// Default body styles
body {
  color: $body-color;
  font-size: 1rem;
  font-weight: $body-weight;
  line-height: $body-line-height;
  font-family: $family-sans-serif;
  margin: 0;
}


.titulo-alerta
{
  color: #424242;
  font-size: 18px;
  text-align: left;
  margin-top: 20px;
}

.aviso {
  width: 400px;
  padding: 15px;
  background-color: #fff;
  color: black;
  border-right: 4px solid #4A8333;
  font-family: 'open sans', sans-serif;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
 }

.imagen-aviso
{
  width: 30%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

.boton-cerrar:hover {
  background: orange;
  padding: 10px;
}

.boton-cerrar {
  background: #4A8333;
  padding: 4px;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 15px;
  cursor: pointer;
  transition: 0.3s;
}